<div id="overlay"><div class="over_bg"></div></div>
<header>
  <div class="container">
    <div class="inner">
      <a href="/" class="logo"><img src="../img/profile.png" alt=""></a>
      <ul class="header_menu">
        <li><a href="#" class="active">История приемов </a></li>
        <li><a href="#">Записи</a></li>
        <li><a href="#">Врачи</a></li>
        <li><a href="#">Клиники </a></li>
        <li><a href="#">Отзывы</a></li>
      </ul>
      
      <div class="right-col clearfix">
        <div class="notifications">
          <a href="#" class="go_to_notiff">
            <span>2</span>
            <i class="far fa-bell"></i>
          </a>
        </div>
        <div class="profile">
          <div class="inner">
            <img src="../img/profile.png" alt="">
          </div>
        </div>
        <a href="#" class="logout_link"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>  
</header>


