<section class="zapisi"> 
  <div class="container">
    <div class="inner">
      <h1 class="section_title">Запись на прием</h1>
      <div class="row">
        <div class="item main">
          <div class="inner">
            <div class="cell"><a href="#" class="book_all_doc"><span>Запись на прием</span></a></div>            
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <div class="cell"><span>Терапевт</span></div>  
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <div class="cell"><span>Окулист</span></div>  
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <div class="cell"><span>Невропатолог</span></div>  
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <div class="cell"><span>Ортопед</span></div>  
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <div class="cell"><span>Кардиолог</span></div>  
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

