@{
  ViewData["Title"] = "Home Page";
}

@using HealthRate.ViewModels;
@model PatientHomeModel
<partial name="_header" />

<partial name="_zapisi" />

<partial name="_patientAppointments" model="@Model.Appointments"/>

<partial name="_footer" />

<!--popups-->

<div class="thickbox_cont auto" id="booking_popup" style="display: none;">
  <a class="close" href="#"><i class="far fa-times-circle"></i></a>
  <div class="inner text-center">      
    <h2 class="booking_popup">Запись к врачу</h2>
    <form>
      <input name="user_id" type="hidden" value="@Model.UserId"/>
      <div class="form-group">
        <p>
          <input name="patient_adress" type="text" class="form-control" placeholder="Введите ваш адрес" />
        </p>
      </div>
      <div class="form-group clearfix">
        <div class="input-append date booking_day">
          <p>
            <input type="text" class="auto_width_input"><span class="add-on"><i class="far fa-calendar-alt"></i></span>
          </p>
        </div>
        <a href="#" class="show_in_map">Показать на карте</a>
      </div> 
      <div class="form-group">
        <div class="form_cols_name">
          <span class="item">Врачи</span>
          <span class="item">Время приема</span>
        </div>
        <ul class="booking_list">          
        
        </ul>
      </div> 
      <button type="submit" class="btn btn-primary book_task">Записаться</button>
      <button type="submit" class="btn btn-light close2">Отменить</button>       
    </form>
  </div>
</div>

